*{
    font-family: "Josefin sans", Helvetica, sans-serif !important;
}
/* teste */

body{
    background-color: #eaeaea;
}

button{
    cursor: pointer;
    transition: all 0.2s;
}

/* faixa colorida no inicio da pagina */
.title-bar {
    background: rgb(28, 77, 180);
        background: linear-gradient(300deg, rgba(28, 77, 180, 1) 0%, rgba(37, 134, 180, 1) 67%, rgba(26, 165, 243, 1) 94%);
    height: 20%; /* altura da faixa */
    width: 100%;
    position: fixed;
}

/* titulo */
#title {
    margin-top: 0.5%;
    color: #dbdbdb;
    font-size: 1.5em;
}
  
/* faixa colorida no fim da pagina */
.footer {
    background: rgb(28, 77, 180);
        background: linear-gradient(300deg, rgba(28, 77, 180, 1) 0%, rgba(37, 134, 180, 1) 67%, rgba(26, 165, 243, 1) 94%);
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
} 

/* botoes do inicio */
.my-button {
    display: block;
    margin-left:10%;
    margin-right: -9%;
    height: 10%;
    width: 40%;
    text-align: center;
    padding: 0.5%;
    margin-top: 15%;

    
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #1aa5f3;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    left: 10%;
}
  
.my-button:hover {
    background-color: #2586b4;
}


/* botoes do explorar */
#container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5.5%;
  }

/* tabuleiro */
#board1 {
    width: 100%;
    margin-right: 50%;
    margin-top: 200px;
}
  
.buttons-explore{
    color: #FFF;
    background-color: #1aa5f3;
    border: 1px solid transparent;
    border-color: #666464;
    border-radius: 8px;
    width: 130px;
    height: 5%;
    margin-top: 1%;
    vertical-align:middle;
}

.buttons-explore:disabled{
    color: #321515;
    background-color: #b2a5a5;
}

.buttons-explore:hover{
    color: #FFF;
    background-color: #daa520;
}

.buttons-explore:disabled:hover{
    color: #321515;
    background-color: #b2a5a5;
}

/*botões de voltar*/
#voltar-btn{
    color: #FFF;
    background-color: #1aa5f3;
    background-color: #daa520 ;
    border: 1px solid transparent;
    border-color: #666464;
    font-size: 20px;
    border-radius: 8px;
    width: 230px;
    position: absolute;
    top: 8%;
    top: 30%;
    left: 5%;
    margin-top: -0.4%;
    cursor: pointer;
    transition: all 0.3s;
}

#voltar-btn:hover{
    background-color: #FFF;
    color: #1aa5f3;
    background-color: #e7e0e0;
    color: #0c0c0b;
    border-color: #363535;
}

/* botao de resetar tabuleiro */
#reset-btn{
    color: #FFF;
    background-color: #daa520;
    border: 1px solid transparent;
    position: absolute;
    left: 40%;
    top:67%;
    width: 20%;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}

#reset-btn:hover{
    background-color: #FFF;
    color: #daa520;
    border-color: #181414;
}

#board1 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#buttons-container {
    margin-left: 1.4%;
}

.highlight, .highlight:hover, .highlight:active, .highlight:focus {
    color: #1aa5f3;
}
  
/* box com as informacoes das jogadas*/
#informacoes{
    width: 30%;
	height:50%;
	font-size: 1rem;
    position: absolute;
    top: 20%;
    left: 2%;
	
	margin-top: -7%;
	float: left;
	background: #FFFFFF;
	
   -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
   -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
   box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}

/* box com as informacoes das porcentagens */
#porcentagem{
    width: 30%;
	height:50%;
	font-size: 1rem;
    position: absolute;
    top: 20%;
    right:2%;
	margin-top: -7%;
	float: right;
	background: #FFFFFF;
	
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}

#cabecalho-outros{
    height: 4%;
    margin-top: 4.9%;
    width: 100%;
    margin-left: -0.5%;
}